<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢迎页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
<div class="panel panel-default">
    <div style="padding: 10px 0 20px 10px;">
        <h3>&nbsp;&nbsp;&nbsp;项目介绍</h3>
        <ul>
            <li>面向学习型的开源框架，简洁高效，减少过渡封装，展现技术本质</li>
            <li>Springboot作为基础框架，使用mybatis作为持久层框架</li>
            <li>使用官方推荐的thymeleaf做为模板引擎，shiro作为安全框架,主流技术，“一网打尽”</li>
            <li>极简配置，一键前后台代码生成</li>
        </ul>

        <h3>&nbsp;&nbsp;&nbsp;涉及技术</h3>
        <ul>
            <li>SpringBoot ：项目基础框架</li>
            <li>mybatis ：项目基础框架</li>
            <li>SpringMvc ：项目基础框架 </li>
            <li>Redis : 保存用户登录session</li>
            <li>Maven : 项目管理工具</li>
            <li>netty : 完成rpc调用网关</li>
            <li>zookeeper : rpc注册地址</li>
            <li>rabbitMq :  研究使用，不涉及到该项目</li>
            <li>kafka :  研究使用，不涉及到该项目</li>
            <li>shiro :  用户登录后安全管控</li>
            <li>Aop :  通过自定义日志拦截器汇总所有请求</li>
            <li>Druid :  数据源监控</li>
            <li>Quartz : 定时器引入，定时向web端推送消息（webService）</li>
        </ul>

        </div>
</div>
</body>
<script src="js/jquery.min.js"></script>
<script src="js/openTab.js"></script>
</html>